:root{ /* cor inicial */
    --body: #81ff94;
    --modo: #000025;
    --borda: #4bbf5c;
    --header: #00d21f;
    --button1: #228b22;
    --button2: #32cd32;
    --button3: #00ff00;
    --text: #003007;
}

body{
    font-family: Helvetica;
    background-color: var(--body);
    color: var(--text);
}
header, footer{
    background-color: var(--header);
    padding: 40px;
}
main{
    background-color: var(--body);
}
.cabecalho{
    background-color: var(--borda);
    width: 300px;
    height: 467px;
    margin: 10px;
    border-radius: 20px;
}
img{
    max-width: 90px;
}
.cabecalho, .cabecalho2{
    align-items: center;
    display: inline-grid;
}
.cabecalho2{
    background-color: var(--body);
    width: 998px;
    padding-bottom: 16px;
    border-radius: 20px;
    border: 5px solid var(--borda);
    margin: 10px;
}
.botao1 , .botao2{
    margin: 20px;
    text-align: center;
}
h2{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 40px;
    text-align: center;
    background-color: var(--borda);
}
.button1{
    background-color: var(--button1);
}
.button2{
    background-color: var(--button2);
}
.button3{
    background-color: var(--button3);
}
.button1 , .button2 , .button3{
    border-radius: 10px;
    color: var(--text);
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 10px 10px;
    cursor: pointer;
}
.noturno{
    font-size: 15px;
    margin-top: 135px;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--modo);
    border-color: #ffffff;
}
.botoes{
    text-align: center;
}
.click{
    display: inline-block;
}
button{
    background-color: #104E8B;
}
p{
    font-size: 20px;
    text-align: right;
    margin-right: 20px;
    line-height: 25px;
}
p{
    margin-top: 20px;
}

.itens{
    text-align: left;
    margin-top: 40px;
    padding-bottom: 22px;
    margin-left: 40px;
}
#box_nome, #box_nivel, #box_habili, #box_persona{
    border-radius: 6px;
    border-color: var(--borda);
    background-color: var(--header);
    color: var(--text);
}
#box_nome{
    padding-right: 38px;
    padding-left: 38px;
}
#box_nivel{
    padding-right: 55px;
    padding-left: 55px;
    text-align: center;
}
#box_habili{
    padding-left: 19px;
    padding-right: 19px;
}
#cadastro{
    border-radius: 6px;
    border-color: var(--borda);
    color: var(--borda);
    padding: 5px 10px;
    margin-right: 150px;
}
